.App {
  text-align: left;
}
.App-header {
  background-color: #17171bdc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  border-style: inset;
}
